![title](reports/figures/clean.jpg)

In [16]:
# import libraries

import pandas as pd
import numpy as np
import json

In [17]:
# loading json data

with open('data/raw/data.json') as json_file:
    data = json.load(json_file)

In [27]:
data

[{'id': 974599,
  'iso_code3': 'WORLD',
  'country': 'World',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 21284.04},
   {'year': 1991, 'value': 21440.49},
   {'year': 1992, 'value': 21390.04},
   {'year': 1993, 'value': 21531.83},
   {'year': 1994, 'value': 21676.89},
   {'year': 1995, 'value': 22299.2},
   {'year': 1996, 'value': 22778.98},
   {'year': 1997, 'value': 23202.62},
   {'year': 1998, 'value': 23365.55},
   {'year': 1999, 'value': 23530.42},
   {'year': 2000, 'value': 24280.27},
   {'year': 2001, 'value': 24644.44},
   {'year': 2002, 'value': 24989.51},
   {'year': 2003, 'value': 26133.42},
   {'year': 2004, 'value': 27331.85},
   {'year': 2005, 'value': 28371.82},
   {'year': 2006, 'value': 29308.18},
   {'year': 2007, 'value': 30418.99},
   {'year': 2008, 'value': 30632.3},
   {'year': 2009, 'value': 30238.05},
   {'year': 2010, 'value': 32095.87},
   {'year': 2011, 'value': 33079.72},
   {'year': 2012, 'value': 33460.09},
   {'year': 2013, 'value': 34119.89},
   {'year': 2014, 'value': 34261.37},
   {'year': 2015, 'value': 34070.18},
   {'year': 2016, 'value': 34145.65},
   {'year': 2017, 'value': 34687.84},
   {'year': 2018, 'value': 35560.56},
   {'year': 2019, 'value': 35477.25},
   {'year': 2020, 'value': 33566.43}]},
 {'id': 965650,
  'iso_code3': 'CHN',
  'country': 'China',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 2173.36},
   {'year': 1991, 'value': 2302.19},
   {'year': 1992, 'value': 2418.18},
   {'year': 1993, 'value': 2645.41},
   {'year': 1994, 'value': 2767.67},
   {'year': 1995, 'value': 3088.62},
   {'year': 1996, 'value': 3070.51},
   {'year': 1997, 'value': 3134.11},
   {'year': 1998, 'value': 3236.28},
   {'year': 1999, 'value': 3153.66},
   {'year': 2000, 'value': 3346.53},
   {'year': 2001, 'value': 3529.08},
   {'year': 2002, 'value': 3796.16},
   {'year': 2003, 'value': 4424.41},
   {'year': 2004, 'value': 5113.22},
   {'year': 2005, 'value': 5824.63},
   {'year': 2006, 'value': 6437.47},
   {'year': 2007, 'value': 6993.18},
   {'year': 2008, 'value': 7199.6},
   {'year': 2009, 'value': 7719.07},
   {'year': 2010, 'value': 8474.92},
   {'year': 2011, 'value': 9282.55},
   {'year': 2012, 'value': 9540.54},
   {'year': 2013, 'value': 9979.13},
   {'year': 2014, 'value': 10021.04},
   {'year': 2015, 'value': 9859.28},
   {'year': 2016, 'value': 9860.91},
   {'year': 2017, 'value': 10089.27},
   {'year': 2018, 'value': 10567.26},
   {'year': 2019, 'value': 10762.82},
   {'year': 2020, 'value': 10944.69}]},
 {'id': 974257,
  'iso_code3': 'USA',
  'country': 'United States',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 4844.52},
   {'year': 1991, 'value': 4807.5},
   {'year': 1992, 'value': 4879.63},
   {'year': 1993, 'value': 4995.21},
   {'year': 1994, 'value': 5066.8},
   {'year': 1995, 'value': 5117.04},
   {'year': 1996, 'value': 5273.49},
   {'year': 1997, 'value': 5543.35},
   {'year': 1998, 'value': 5590.54},
   {'year': 1999, 'value': 5609.02},
   {'year': 2000, 'value': 5775.81},
   {'year': 2001, 'value': 5748.26},
   {'year': 2002, 'value': 5593.02},
   {'year': 2003, 'value': 5658.99},
   {'year': 2004, 'value': 5738.29},
   {'year': 2005, 'value': 5753.49},
   {'year': 2006, 'value': 5653.08},
   {'year': 2007, 'value': 5736.32},
   {'year': 2008, 'value': 5558.38},
   {'year': 2009, 'value': 5156.42},
   {'year': 2010, 'value': 5392.11},
   {'year': 2011, 'value': 5173.59},
   {'year': 2012, 'value': 4956.05},
   {'year': 2013, 'value': 5092.1},
   {'year': 2014, 'value': 5107.21},
   {'year': 2015, 'value': 4990.7},
   {'year': 2016, 'value': 4894.5},
   {'year': 2017, 'value': 4819.37},
   {'year': 2018, 'value': 4975.3},
   {'year': 2019, 'value': 4817.71},
   {'year': 2020, 'value': 4320.53}]},
 {'id': 967075,
  'iso_code3': 'EUU',
  'country': 'European Union (27)',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 3567.9},
   {'year': 1991, 'value': 3530.56},
   {'year': 1992, 'value': 3414.36},
   {'year': 1993, 'value': 3350.88},
   {'year': 1994, 'value': 3340.15},
   {'year': 1995, 'value': 3391.25},
   {'year': 1996, 'value': 3490.93},
   {'year': 1997, 'value': 3421.98},
   {'year': 1998, 'value': 3413.11},
   {'year': 1999, 'value': 3355.11},
   {'year': 2000, 'value': 3364.06},
   {'year': 2001, 'value': 3421.06},
   {'year': 2002, 'value': 3412.87},
   {'year': 2003, 'value': 3502.7},
   {'year': 2004, 'value': 3507.06},
   {'year': 2005, 'value': 3489.98},
   {'year': 2006, 'value': 3498.54},
   {'year': 2007, 'value': 3456.87},
   {'year': 2008, 'value': 3378.39},
   {'year': 2009, 'value': 3131.2},
   {'year': 2010, 'value': 3215.8},
   {'year': 2011, 'value': 3121.39},
   {'year': 2012, 'value': 3061.11},
   {'year': 2013, 'value': 2984.33},
   {'year': 2014, 'value': 2839.98},
   {'year': 2015, 'value': 2897.32},
   {'year': 2016, 'value': 2907.4},
   {'year': 2017, 'value': 2932.15},
   {'year': 2018, 'value': 2867.93},
   {'year': 2019, 'value': 2729.77},
   {'year': 2020, 'value': 2465.03}]},
 {'id': 968329,
  'iso_code3': 'IND',
  'country': 'India',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 563.58},
   {'year': 1991, 'value': 607.22},
   {'year': 1992, 'value': 626.29},
   {'year': 1993, 'value': 651.35},
   {'year': 1994, 'value': 685.9},
   {'year': 1995, 'value': 737.86},
   {'year': 1996, 'value': 774.07},
   {'year': 1997, 'value': 819.27},
   {'year': 1998, 'value': 836.27},
   {'year': 1999, 'value': 901.33},
   {'year': 2000, 'value': 937.86},
   {'year': 2001, 'value': 953.54},
   {'year': 2002, 'value': 985.45},
   {'year': 2003, 'value': 1011.77},
   {'year': 2004, 'value': 1085.67},
   {'year': 2005, 'value': 1136.47},
   {'year': 2006, 'value': 1215.21},
   {'year': 2007, 'value': 1336.74},
   {'year': 2008, 'value': 1424.38},
   {'year': 2009, 'value': 1564.88},
   {'year': 2010, 'value': 1659.98},
   {'year': 2011, 'value': 1756.74},
   {'year': 2012, 'value': 1909.44},
   {'year': 2013, 'value': 1972.43},
   {'year': 2014, 'value': 2147.11},
   {'year': 2015, 'value': 2158.02},
   {'year': 2016, 'value': 2195.25},
   {'year': 2017, 'value': 2308.8},
   {'year': 2018, 'value': 2458.18},
   {'year': 2019, 'value': 2423.95},
   {'year': 2020, 'value': 2200.84}]},
 {'id': 972262,
  'iso_code3': 'RUS',
  'country': 'Russia',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 2163.53},
   {'year': 1991, 'value': 2136.44},
   {'year': 1992, 'value': 2030.81},
   {'year': 1993, 'value': 1880.24},
   {'year': 1994, 'value': 1685.05},
   {'year': 1995, 'value': 1635.48},
   {'year': 1996, 'value': 1601.18},
   {'year': 1997, 'value': 1489.51},
   {'year': 1998, 'value': 1487.97},
   {'year': 1999, 'value': 1523.72},
   {'year': 2000, 'value': 1563.85},
   {'year': 2001, 'value': 1567.17},
   {'year': 2002, 'value': 1565.33},
   {'year': 2003, 'value': 1610.0},
   {'year': 2004, 'value': 1600.98},
   {'year': 2005, 'value': 1611.98},
   {'year': 2006, 'value': 1654.85},
   {'year': 2007, 'value': 1658.15},
   {'year': 2008, 'value': 1655.19},
   {'year': 2009, 'value': 1546.67},
   {'year': 2010, 'value': 1617.83},
   {'year': 2011, 'value': 1699.08},
   {'year': 2012, 'value': 1675.76},
   {'year': 2013, 'value': 1632.68},
   {'year': 2014, 'value': 1611.96},
   {'year': 2015, 'value': 1592.56},
   {'year': 2016, 'value': 1571.52},
   {'year': 2017, 'value': 1594.55},
   {'year': 2018, 'value': 1661.0},
   {'year': 2019, 'value': 1703.59},
   {'year': 2020, 'value': 1618.27}]},
 {'id': 968842,
  'iso_code3': 'JPN',
  'country': 'Japan',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 1090.51},
   {'year': 1991, 'value': 1103.96},
   {'year': 1992, 'value': 1115.04},
   {'year': 1993, 'value': 1107.59},
   {'year': 1994, 'value': 1160.76},
   {'year': 1995, 'value': 1170.99},
   {'year': 1996, 'value': 1184.65},
   {'year': 1997, 'value': 1172.6},
   {'year': 1998, 'value': 1130.28},
   {'year': 1999, 'value': 1168.95},
   {'year': 2000, 'value': 1184.42},
   {'year': 2001, 'value': 1172.34},
   {'year': 2002, 'value': 1206.76},
   {'year': 2003, 'value': 1213.93},
   {'year': 2004, 'value': 1207.29},
   {'year': 2005, 'value': 1215.47},
   {'year': 2006, 'value': 1193.04},
   {'year': 2007, 'value': 1227.99},
   {'year': 2008, 'value': 1158.84},
   {'year': 2009, 'value': 1102.39},
   {'year': 2010, 'value': 1157.24},
   {'year': 2011, 'value': 1213.78},
   {'year': 2012, 'value': 1254.32},
   {'year': 2013, 'value': 1267.38},
   {'year': 2014, 'value': 1217.31},
   {'year': 2015, 'value': 1178.35},
   {'year': 2016, 'value': 1164.87},
   {'year': 2017, 'value': 1150.84},
   {'year': 2018, 'value': 1111.12},
   {'year': 2019, 'value': 1073.65},
   {'year': 2020, 'value': 1014.06}]},
 {'id': 968443,
  'iso_code3': 'IRN',
  'country': 'Iran',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 198.47},
   {'year': 1991, 'value': 219.1},
   {'year': 1992, 'value': 233.65},
   {'year': 1993, 'value': 236.73},
   {'year': 1994, 'value': 266.7},
   {'year': 1995, 'value': 271.52},
   {'year': 1996, 'value': 279.81},
   {'year': 1997, 'value': 292.4},
   {'year': 1998, 'value': 291.0},
   {'year': 1999, 'value': 323.36},
   {'year': 2000, 'value': 340.46},
   {'year': 2001, 'value': 354.07},
   {'year': 2002, 'value': 369.88},
   {'year': 2003, 'value': 389.78},
   {'year': 2004, 'value': 417.66},
   {'year': 2005, 'value': 450.8},
   {'year': 2006, 'value': 484.18},
   {'year': 2007, 'value': 514.14},
   {'year': 2008, 'value': 523.05},
   {'year': 2009, 'value': 542.3},
   {'year': 2010, 'value': 541.17},
   {'year': 2011, 'value': 552.05},
   {'year': 2012, 'value': 559.12},
   {'year': 2013, 'value': 583.7},
   {'year': 2014, 'value': 605.36},
   {'year': 2015, 'value': 599.18},
   {'year': 2016, 'value': 607.22},
   {'year': 2017, 'value': 626.43},
   {'year': 2018, 'value': 637.43},
   {'year': 2019, 'value': 625.25},
   {'year': 2020, 'value': 616.56}]},
 {'id': 966391,
  'iso_code3': 'DEU',
  'country': 'Germany',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 955.31},
   {'year': 1991, 'value': 932.55},
   {'year': 1992, 'value': 892.82},
   {'year': 1993, 'value': 887.06},
   {'year': 1994, 'value': 875.9},
   {'year': 1995, 'value': 874.66},
   {'year': 1996, 'value': 904.34},
   {'year': 1997, 'value': 872.65},
   {'year': 1998, 'value': 865.25},
   {'year': 1999, 'value': 833.59},
   {'year': 2000, 'value': 830.28},
   {'year': 2001, 'value': 847.68},
   {'year': 2002, 'value': 833.38},
   {'year': 2003, 'value': 836.79},
   {'year': 2004, 'value': 821.07},
   {'year': 2005, 'value': 802.38},
   {'year': 2006, 'value': 814.41},
   {'year': 2007, 'value': 783.8},
   {'year': 2008, 'value': 789.69},
   {'year': 2009, 'value': 734.81},
   {'year': 2010, 'value': 773.07},
   {'year': 2011, 'value': 746.48},
   {'year': 2012, 'value': 760.13},
   {'year': 2013, 'value': 776.15},
   {'year': 2014, 'value': 736.01},
   {'year': 2015, 'value': 742.31},
   {'year': 2016, 'value': 747.15},
   {'year': 2017, 'value': 732.2},
   {'year': 2018, 'value': 707.77},
   {'year': 2019, 'value': 658.69},
   {'year': 2020, 'value': 603.35}]},
 {'id': 969241,
  'iso_code3': 'KOR',
  'country': 'South Korea',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 247.68},
   {'year': 1991, 'value': 274.79},
   {'year': 1992, 'value': 297.05},
   {'year': 1993, 'value': 327.6},
   {'year': 1994, 'value': 354.28},
   {'year': 1995, 'value': 385.41},
   {'year': 1996, 'value': 409.99},
   {'year': 1997, 'value': 431.64},
   {'year': 1998, 'value': 366.57},
   {'year': 1999, 'value': 401.88},
   {'year': 2000, 'value': 447.24},
   {'year': 2001, 'value': 456.67},
   {'year': 2002, 'value': 461.0},
   {'year': 2003, 'value': 463.91},
   {'year': 2004, 'value': 485.91},
   {'year': 2005, 'value': 481.0},
   {'year': 2006, 'value': 487.85},
   {'year': 2007, 'value': 503.69},
   {'year': 2008, 'value': 514.92},
   {'year': 2009, 'value': 526.64},
   {'year': 2010, 'value': 575.22},
   {'year': 2011, 'value': 598.48},
   {'year': 2012, 'value': 600.32},
   {'year': 2013, 'value': 599.6},
   {'year': 2014, 'value': 588.09},
   {'year': 2015, 'value': 607.83},
   {'year': 2016, 'value': 615.44},
   {'year': 2017, 'value': 626.18},
   {'year': 2018, 'value': 630.19},
   {'year': 2019, 'value': 612.13},
   {'year': 2020, 'value': 569.68}]},
 {'id': 968272,
  'iso_code3': 'IDN',
  'country': 'Indonesia',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 148.34},
   {'year': 1991, 'value': 162.31},
   {'year': 1992, 'value': 171.42},
   {'year': 1993, 'value': 185.09},
   {'year': 1994, 'value': 199.18},
   {'year': 1995, 'value': 223.68},
   {'year': 1996, 'value': 236.72},
   {'year': 1997, 'value': 261.16},
   {'year': 1998, 'value': 262.71},
   {'year': 1999, 'value': 279.48},
   {'year': 2000, 'value': 280.64},
   {'year': 2001, 'value': 302.06},
   {'year': 2002, 'value': 305.63},
   {'year': 2003, 'value': 333.88},
   {'year': 2004, 'value': 341.24},
   {'year': 2005, 'value': 342.15},
   {'year': 2006, 'value': 364.47},
   {'year': 2007, 'value': 379.96},
   {'year': 2008, 'value': 376.14},
   {'year': 2009, 'value': 391.08},
   {'year': 2010, 'value': 415.54},
   {'year': 2011, 'value': 475.8},
   {'year': 2012, 'value': 481.79},
   {'year': 2013, 'value': 448.4},
   {'year': 2014, 'value': 484.64},
   {'year': 2015, 'value': 489.05},
   {'year': 2016, 'value': 483.98},
   {'year': 2017, 'value': 515.4},
   {'year': 2018, 'value': 568.01},
   {'year': 2019, 'value': 605.29},
   {'year': 2020, 'value': 563.2}]},
 {'id': 965479,
  'iso_code3': 'CAN',
  'country': 'Canada',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 419.49},
   {'year': 1991, 'value': 413.3},
   {'year': 1992, 'value': 426.37},
   {'year': 1993, 'value': 422.05},
   {'year': 1994, 'value': 436.76},
   {'year': 1995, 'value': 448.05},
   {'year': 1996, 'value': 461.7},
   {'year': 1997, 'value': 476.82},
   {'year': 1998, 'value': 484.79},
   {'year': 1999, 'value': 494.28},
   {'year': 2000, 'value': 514.22},
   {'year': 2001, 'value': 506.62},
   {'year': 2002, 'value': 524.35},
   {'year': 2003, 'value': 544.54},
   {'year': 2004, 'value': 536.42},
   {'year': 2005, 'value': 549.03},
   {'year': 2006, 'value': 540.53},
   {'year': 2007, 'value': 571.63},
   {'year': 2008, 'value': 550.55},
   {'year': 2009, 'value': 521.4},
   {'year': 2010, 'value': 537.09},
   {'year': 2011, 'value': 549.37},
   {'year': 2012, 'value': 546.29},
   {'year': 2013, 'value': 555.74},
   {'year': 2014, 'value': 561.76},
   {'year': 2015, 'value': 558.75},
   {'year': 2016, 'value': 556.87},
   {'year': 2017, 'value': 568.18},
   {'year': 2018, 'value': 579.57},
   {'year': 2019, 'value': 566.0},
   {'year': 2020, 'value': 516.87}]},
 {'id': 972376,
  'iso_code3': 'SAU',
  'country': 'Saudi Arabia',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 171.4},
   {'year': 1991, 'value': 187.92},
   {'year': 1992, 'value': 202.03},
   {'year': 1993, 'value': 203.25},
   {'year': 1994, 'value': 206.36},
   {'year': 1995, 'value': 204.83},
   {'year': 1996, 'value': 217.65},
   {'year': 1997, 'value': 220.07},
   {'year': 1998, 'value': 233.9},
   {'year': 1999, 'value': 239.52},
   {'year': 2000, 'value': 249.65},
   {'year': 2001, 'value': 254.08},
   {'year': 2002, 'value': 272.25},
   {'year': 2003, 'value': 284.83},
   {'year': 2004, 'value': 299.89},
   {'year': 2005, 'value': 315.29},
   {'year': 2006, 'value': 335.43},
   {'year': 2007, 'value': 354.62},
   {'year': 2008, 'value': 389.71},
   {'year': 2009, 'value': 406.53},
   {'year': 2010, 'value': 446.13},
   {'year': 2011, 'value': 463.76},
   {'year': 2012, 'value': 492.47},
   {'year': 2013, 'value': 503.21},
   {'year': 2014, 'value': 540.52},
   {'year': 2015, 'value': 565.19},
   {'year': 2016, 'value': 561.23},
   {'year': 2017, 'value': 549.75},
   {'year': 2018, 'value': 527.57},
   {'year': 2019, 'value': 526.77},
   {'year': 2020, 'value': 513.56}]},
 {'id': 965137,
  'iso_code3': 'BRA',
  'country': 'Brazil',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 197.9},
   {'year': 1991, 'value': 205.48},
   {'year': 1992, 'value': 207.87},
   {'year': 1993, 'value': 215.26},
   {'year': 1994, 'value': 222.5},
   {'year': 1995, 'value': 241.28},
   {'year': 1996, 'value': 262.41},
   {'year': 1997, 'value': 281.34},
   {'year': 1998, 'value': 290.59},
   {'year': 1999, 'value': 300.96},
   {'year': 2000, 'value': 313.67},
   {'year': 2001, 'value': 319.38},
   {'year': 2002, 'value': 317.76},
   {'year': 2003, 'value': 310.81},
   {'year': 2004, 'value': 328.52},
   {'year': 2005, 'value': 331.69},
   {'year': 2006, 'value': 335.62},
   {'year': 2007, 'value': 352.56},
   {'year': 2008, 'value': 373.63},
   {'year': 2009, 'value': 350.0},
   {'year': 2010, 'value': 397.93},
   {'year': 2011, 'value': 418.3},
   {'year': 2012, 'value': 454.23},
   {'year': 2013, 'value': 486.84},
   {'year': 2014, 'value': 511.62},
   {'year': 2015, 'value': 485.34},
   {'year': 2016, 'value': 447.08},
   {'year': 2017, 'value': 455.68},
   {'year': 2018, 'value': 433.84},
   {'year': 2019, 'value': 434.32},
   {'year': 2020, 'value': 414.14}]},
 {'id': 973915,
  'iso_code3': 'TUR',
  'country': 'Türkiye',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 139.2},
   {'year': 1991, 'value': 143.8},
   {'year': 1992, 'value': 149.8},
   {'year': 1993, 'value': 155.58},
   {'year': 1994, 'value': 153.82},
   {'year': 1995, 'value': 168.15},
   {'year': 1996, 'value': 185.34},
   {'year': 1997, 'value': 193.43},
   {'year': 1998, 'value': 193.69},
   {'year': 1999, 'value': 192.65},
   {'year': 2000, 'value': 216.4},
   {'year': 2001, 'value': 197.77},
   {'year': 2002, 'value': 208.11},
   {'year': 2003, 'value': 219.16},
   {'year': 2004, 'value': 224.6},
   {'year': 2005, 'value': 235.0},
   {'year': 2006, 'value': 261.08},
   {'year': 2007, 'value': 288.97},
   {'year': 2008, 'value': 287.21},
   {'year': 2009, 'value': 288.31},
   {'year': 2010, 'value': 297.81},
   {'year': 2011, 'value': 318.64},
   {'year': 2012, 'value': 329.8},
   {'year': 2013, 'value': 319.09},
   {'year': 2014, 'value': 341.67},
   {'year': 2015, 'value': 353.41},
   {'year': 2016, 'value': 376.4},
   {'year': 2017, 'value': 418.1},
   {'year': 2018, 'value': 414.11},
   {'year': 2019, 'value': 398.77},
   {'year': 2020, 'value': 407.41}]},
 {'id': 974770,
  'iso_code3': 'ZAF',
  'country': 'South Africa',
  'data_source': 'Climate Watch',
  'sector': 'Total excluding LUCF',
  'gas': 'CO2',
  'unit': 'MtCO₂e',
  'emissions': [{'year': 1990, 'value': 247.61},
   {'year': 1991, 'value': 242.29},
   {'year': 1992, 'value': 238.78},

In [33]:
def parse_json(response):
    charlist = []
    for item in response:
        char = {
            'Country': item['country'],
            'emissions': item['emissions'],
        }
        charlist.append(char)
    return charlist

json_data_list = parse_json(data)

In [34]:
df

                 Country                                          emissions
0                  World  [{'year': 1990, 'value': 21284.04}, {'year': 1...
1                  China  [{'year': 1990, 'value': 2173.36}, {'year': 19...
2          United States  [{'year': 1990, 'value': 4844.52}, {'year': 19...
3    European Union (27)  [{'year': 1990, 'value': 3567.9}, {'year': 199...
4                  India  [{'year': 1990, 'value': 563.58}, {'year': 199...
..                   ...                                                ...
190         Cook Islands  [{'year': 1990, 'value': 0.04}, {'year': 1991,...
191             Kiribati  [{'year': 1990, 'value': 0.02}, {'year': 1991,...
192                Nauru  [{'year': 1990, 'value': 0.13}, {'year': 1991,...
193               Tuvalu  [{'year': 1990, 'value': 0.01}, {'year': 1991,...
194                 Niue  [{'year': 1990, 'value': 0.01}, {'year': 1991,...

[195 rows x 2 columns]

In [44]:
concated_dataframe = pd.json_normalize(
    data,
    record_path='emissions',
    meta=['country', 'gas', 'unit']
)

concated_dataframe

      year     value country  gas    unit
0     1990  21284.04   World  CO2  MtCO₂e
1     1991  21440.49   World  CO2  MtCO₂e
2     1992  21390.04   World  CO2  MtCO₂e
3     1993  21531.83   World  CO2  MtCO₂e
4     1994  21676.89   World  CO2  MtCO₂e
...    ...       ...     ...  ...     ...
6040  2016      0.01    Niue  CO2  MtCO₂e
6041  2017      0.01    Niue  CO2  MtCO₂e
6042  2018      0.01    Niue  CO2  MtCO₂e
6043  2019      0.01    Niue  CO2  MtCO₂e
6044  2020      0.00    Niue  CO2  MtCO₂e

[6045 rows x 5 columns]

### Idea

As from the above data we can see the data is stacked-up in vertically we need to split and stack them 
horizontally in the process we remove the repeating columns

In [46]:
# dropping gas and unit columns

cd = concated_dataframe.drop(['gas', 'unit'], axis=1)

In [50]:
def split_dataframe_by_position(df, splits):
    """
    Takes a dataframe and an integer of the number of splits to create.
    Returns a list of dataframes.
    """
    dataframes = []
    index_to_split = len(df) // splits
    start = 0
    end = index_to_split
    for split in range(splits):
        temporary_df = df.iloc[start:end, :]
        dataframes.append(temporary_df)
        start += index_to_split
        end += index_to_split

    return dataframes

splits = split_dataframe_by_position(cd, 195)
print(splits[193])

      year  value country
5983  1990   0.01  Tuvalu
5984  1991   0.01  Tuvalu
5985  1992   0.01  Tuvalu
5986  1993   0.01  Tuvalu
5987  1994   0.01  Tuvalu
5988  1995   0.01  Tuvalu
5989  1996   0.01  Tuvalu
5990  1997   0.01  Tuvalu
5991  1998   0.01  Tuvalu
5992  1999   0.01  Tuvalu
5993  2000   0.01  Tuvalu
5994  2001   0.01  Tuvalu
5995  2002   0.01  Tuvalu
5996  2003   0.01  Tuvalu
5997  2004   0.01  Tuvalu
5998  2005   0.01  Tuvalu
5999  2006   0.01  Tuvalu
6000  2007   0.01  Tuvalu
6001  2008   0.01  Tuvalu
6002  2009   0.01  Tuvalu
6003  2010   0.01  Tuvalu
6004  2011   0.01  Tuvalu
6005  2012   0.01  Tuvalu
6006  2013   0.01  Tuvalu
6007  2014   0.01  Tuvalu
6008  2015   0.01  Tuvalu
6009  2016   0.01  Tuvalu
6010  2017   0.01  Tuvalu
6011  2018   0.01  Tuvalu
6012  2019   0.01  Tuvalu
6013  2020   0.01  Tuvalu


### For Top 10 Countries data
 - the below dataframe shows data of top 10 countries and their CO2 emissions along with total world pollutions

In [52]:
list = [splits[0].reset_index(),splits[1].reset_index(),splits[2].reset_index(),splits[3].reset_index(),splits[4].reset_index(),splits[5].reset_index(),splits[6].reset_index(),splits[7].reset_index(),splits[8].reset_index(),splits[9].reset_index(),splits[10].reset_index()]

df_top10Countries = pd.concat(list, axis=1)

list =[splits[0], splits[1], splits[2], splits[3], splits[4]]

In [53]:
df_top10Countries

,index,year,value,country,index,year,value,country,index,year,...,value,country,index,year,value,country,index,year,value,country
0,0,1990,21284.04,World,31,1990,2173.36,China,62,1990,...,955.31,Germany,279,1990,247.68,South Korea,310,1990,148.34,Indonesia
1,1,1991,21440.49,World,32,1991,2302.19,China,63,1991,...,932.55,Germany,280,1991,274.79,South Korea,311,1991,162.31,Indonesia
2,2,1992,21390.04,World,33,1992,2418.18,China,64,1992,...,892.82,Germany,281,1992,297.05,South Korea,312,1992,171.42,Indonesia
3,3,1993,21531.83,World,34,1993,2645.41,China,65,1993,...,887.06,Germany,282,1993,327.60,South Korea,313,1993,185.09,Indonesia
4,4,1994,21676.89,World,35,1994,2767.67,China,66,1994,...,875.90,Germany,283,1994,354.28,South Korea,314,1994,199.18,Indonesia
5,5,1995,22299.20,World,36,1995,3088.62,China,67,1995,...,874.66,Germany,284,1995,385.41,South Korea,315,1995,223.68,Indonesia
6,6,1996,22778.98,World,37,1996,3070.51,China,68,1996,...,904.34,Germany,285,1996,409.99,South Korea,316,1996,236.72,Indonesia
7,7,1997,23202.62,World,38,1997,3134.11,China,69,1997,...,872.65,Germany,286,1997,431.64,South Korea,317,1997,261.16,Indonesia
8,8,1998,23365.55,World,39,1998,3236.28,China,70,1998,...,865.25,Germany,287,1998,366.57,South Korea,318,1998,262.71,Indonesia
9,9,1999,23530.42,World,40,1999,3153.66,China,71,1999,...,833.59,Germany,288,1999,401.88,South Korea,319,1999,279.48,Indonesia
10,10,2000,24280.27,World,41,2000,3346.53,China,72,2000,...,830.28,Germany,289,2000,447.24,South Korea,320,2000,280.64,Indonesia
11,11,2001,24644.44,World,42,2001,3529.08,China,73,2001,...,847.68,Germany,290,2001,456.67,South Korea,321,2001,302.06,Indonesia
12,12,2002,24989.51,World,43,2002,3796.16,China,74,2002,...,833.38,Germany,291,2002,461.00,South Korea,322,2002,305.63,Indonesia
13,13,2003,26133.42,World,44,2003,4424.41,China,75,2003,...,836.79,Germany,292,2003,463.91,South Korea,323,2003,333.88,Indonesia
14,14,2004,27331.85,World,45,2004,5113.22,China,76,2004,...,821.07,Germany,293,2004,485.91,South Korea,324,2004,341.24,Indonesia
15,15,2005,28371.82,World,46,2005,5824.63,China,77,2005,...,802.38,Germany,294,2005,481.00,South Korea,325,2005,342.15,Indonesia
16,16,2006,29308.18,World,47,2006,6437.47,China,78,2006,...,814.41,Germany,295,2006,487.85,South Korea,326,2006,364.47,Indonesia
17,17,2007,30418.99,World,48,2007,6993.18,China,79,2007,...,783.80,Germany,296,2007,503.69,South Korea,327,2007,379.96,Indonesia
18,18,2008,30632.30,World,49,2008,7199.60,China,80,2008,...,789.69,Germany,297,2008,514.92,South Korea,328,2008,376.14,Indonesia
19,19,2009,30238.05,World,50,2009,7719.07,China,81,2009,...,734.81,Germany,298,2009,526.64,South Korea,329,2009,391.08,Indonesia
20,20,2010,32095.87,World,51,2010,8474.92,China,82,2010,...,773.07,Germany,299,2010,575.22,South Korea,330,2010,415.54,Indonesia
21,21,2011,33079.72,World,52,2011,9282.55,China,83,2011,...,746.48,Germany,300,2011,598.48,South Korea,331,2011,475.80,Indonesia
22,22,2012,33460.09,World,53,2012,9540.54,China,84,2012,...,760.13,Germany,301,2012,600.32,South Korea,332,2012,481.79,Indonesia
23,23,2013,34119.89,World,54,2013,9979.13,China,85,2013,...,776.15,Germany,302,2013,599.60,South Korea,333,2013,448.40,Indonesia
24,24,2014,34261.37,World,55,2014,10021.04,China,86,2014,...,736.01,Germany,303,2014,588.09,South Korea,334,2014,484.64,Indonesia
25,25,2015,34070.18,World,56,2015,9859.28,China,87,2015,...,742.31,Germany,304,2015,607.83,South Korea,335,2015,489.05,Indonesia
26,26,2016,34145.65,World,57,2016,9860.91,China,88,2016,...,747.15,Germany,305,2016,615.44,South Korea,336,2016,483.98,Indonesia
27,27,2017,34687.84,World,58,2017,10089.27,China,89,2017,...,732.20,Germany,306,2017,626.18,South Korea,337,2017,515.40,Indonesia
28,28,2018,35560.56,World,59,2018,10567.26,China,90,2018,...,707.77,Germany,307,2018,630.19,South Korea,338,2018,568.01,Indonesia
29,29,2019,35477.25,World,60,2019,10762.82,China,91,2019,...,658.69,Germany,308,2019,612.13,South Korea,339,2019,605.29,Indonesia
30,30,2020,33566.43,World,61,2020,10944.69,China,92,2020,...,603.35,Germany,309,2020,569.68,South Korea,340,2020,563.20,Indonesia

In [54]:
df_top10Countries = df_top10Countries.drop(['index', 'country','year'], axis=1)

In [55]:
# ['World', 'China', 'United States', 'European Union (27)', 'India','Indonesia', 'Russia', 'Japan', 'Brazil', 'Iran', 'Germany']
new_columns = [*range(1990, 2021, 1)]

df_top10Countries.columns = ['World', 'China', 'United States', 'European Union (27)', 'India','Indonesia', 'Russia', 'Japan', 'Brazil', 'Iran', 'Germany']
df_top10Countries.index = new_columns

In [57]:
df_top10Countries.reset_index(inplace=True)

In [59]:
df_top10Countries.rename(columns={'index':'year'}, inplace=True)

In [60]:
df_top10Countries

,year,World,China,United States,European Union (27),India,Indonesia,Russia,Japan,Brazil,Iran,Germany
0,1990,21284.04,2173.36,4844.52,3567.90,563.58,2163.53,1090.51,198.47,955.31,247.68,148.34
1,1991,21440.49,2302.19,4807.50,3530.56,607.22,2136.44,1103.96,219.10,932.55,274.79,162.31
2,1992,21390.04,2418.18,4879.63,3414.36,626.29,2030.81,1115.04,233.65,892.82,297.05,171.42
3,1993,21531.83,2645.41,4995.21,3350.88,651.35,1880.24,1107.59,236.73,887.06,327.60,185.09
4,1994,21676.89,2767.67,5066.80,3340.15,685.90,1685.05,1160.76,266.70,875.90,354.28,199.18
5,1995,22299.20,3088.62,5117.04,3391.25,737.86,1635.48,1170.99,271.52,874.66,385.41,223.68
6,1996,22778.98,3070.51,5273.49,3490.93,774.07,1601.18,1184.65,279.81,904.34,409.99,236.72
7,1997,23202.62,3134.11,5543.35,3421.98,819.27,1489.51,1172.60,292.40,872.65,431.64,261.16
8,1998,23365.55,3236.28,5590.54,3413.11,836.27,1487.97,1130.28,291.00,865.25,366.57,262.71
9,1999,23530.42,3153.66,5609.02,3355.11,901.33,1523.72,1168.95,323.36,833.59,401.88,279.48
10,2000,24280.27,3346.53,5775.81,3364.06,937.86,1563.85,1184.42,340.46,830.28,447.24,280.64
11,2001,24644.44,3529.08,5748.26,3421.06,953.54,1567.17,1172.34,354.07,847.68,456.67,302.06
12,2002,24989.51,3796.16,5593.02,3412.87,985.45,1565.33,1206.76,369.88,833.38,461.00,305.63
13,2003,26133.42,4424.41,5658.99,3502.70,1011.77,1610.00,1213.93,389.78,836.79,463.91,333.88
14,2004,27331.85,5113.22,5738.29,3507.06,1085.67,1600.98,1207.29,417.66,821.07,485.91,341.24
15,2005,28371.82,5824.63,5753.49,3489.98,1136.47,1611.98,1215.47,450.80,802.38,481.00,342.15
16,2006,29308.18,6437.47,5653.08,3498.54,1215.21,1654.85,1193.04,484.18,814.41,487.85,364.47
17,2007,30418.99,6993.18,5736.32,3456.87,1336.74,1658.15,1227.99,514.14,783.80,503.69,379.96
18,2008,30632.30,7199.60,5558.38,3378.39,1424.38,1655.19,1158.84,523.05,789.69,514.92,376.14
19,2009,30238.05,7719.07,5156.42,3131.20,1564.88,1546.67,1102.39,542.30,734.81,526.64,391.08
20,2010,32095.87,8474.92,5392.11,3215.80,1659.98,1617.83,1157.24,541.17,773.07,575.22,415.54
21,2011,33079.72,9282.55,5173.59,3121.39,1756.74,1699.08,1213.78,552.05,746.48,598.48,475.80
22,2012,33460.09,9540.54,4956.05,3061.11,1909.44,1675.76,1254.32,559.12,760.13,600.32,481.79
23,2013,34119.89,9979.13,5092.10,2984.33,1972.43,1632.68,1267.38,583.70,776.15,599.60,448.40
24,2014,34261.37,10021.04,5107.21,2839.98,2147.11,1611.96,1217.31,605.36,736.01,588.09,484.64
25,2015,34070.18,9859.28,4990.70,2897.32,2158.02,1592.56,1178.35,599.18,742.31,607.83,489.05
26,2016,34145.65,9860.91,4894.50,2907.40,2195.25,1571.52,1164.87,607.22,747.15,615.44,483.98
27,2017,34687.84,10089.27,4819.37,2932.15,2308.80,1594.55,1150.84,626.43,732.20,626.18,515.40
28,2018,35560.56,10567.26,4975.30,2867.93,2458.18,1661.00,1111.12,637.43,707.77,630.19,568.01
29,2019,35477.25,10762.82,4817.71,2729.77,2423.95,1703.59,1073.65,625.25,658.69,612.13,605.29
30,2020,33566.43,10944.69,4320.53,2465.03,2200.84,1618.27,1014.06,616.56,603.35,569.68,563.20

### All Countries dataframe for CO2 Emissions

- this dataframe is not manually made we used for loop to automatically extract from the splits and made into dataframe that are side to side 
- then the dataframe is cleaned by removing duplicate columns
- the result dataframe is made into usable dataframe by changing column and indexes

In [61]:
'''
Concating all the split data in side to side so that we can get to the dataframe that we 
are intened and before doing that don't forget to reset the index then only they are able
to add in side to side otherwise they will go into down to down making null values all the
way around
'''
# splits = [...]  # Assuming you have a list of splits

reset_list = []
for i in range(len(splits)):
    reset_list.append(splits[i].reset_index())

df_AllCountries = pd.concat(reset_list, axis=1)

In [62]:
df_AllCountries

,index,year,value,country,index,year,value,country,index,year,...,value,country,index,year,value,country,index,year,value,country
0,0,1990,21284.04,World,31,1990,2173.36,China,62,1990,...,0.13,Nauru,5983,1990,0.01,Tuvalu,6014,1990,0.01,Niue
1,1,1991,21440.49,World,32,1991,2302.19,China,63,1991,...,0.13,Nauru,5984,1991,0.01,Tuvalu,6015,1991,0.01,Niue
2,2,1992,21390.04,World,33,1992,2418.18,China,64,1992,...,0.12,Nauru,5985,1992,0.01,Tuvalu,6016,1992,0.01,Niue
3,3,1993,21531.83,World,34,1993,2645.41,China,65,1993,...,0.11,Nauru,5986,1993,0.01,Tuvalu,6017,1993,0.01,Niue
4,4,1994,21676.89,World,35,1994,2767.67,China,66,1994,...,0.11,Nauru,5987,1994,0.01,Tuvalu,6018,1994,0.01,Niue
5,5,1995,22299.20,World,36,1995,3088.62,China,67,1995,...,0.11,Nauru,5988,1995,0.01,Tuvalu,6019,1995,0.01,Niue
6,6,1996,22778.98,World,37,1996,3070.51,China,68,1996,...,0.10,Nauru,5989,1996,0.01,Tuvalu,6020,1996,0.01,Niue
7,7,1997,23202.62,World,38,1997,3134.11,China,69,1997,...,0.10,Nauru,5990,1997,0.01,Tuvalu,6021,1997,0.01,Niue
8,8,1998,23365.55,World,39,1998,3236.28,China,70,1998,...,0.10,Nauru,5991,1998,0.01,Tuvalu,6022,1998,0.01,Niue
9,9,1999,23530.42,World,40,1999,3153.66,China,71,1999,...,0.09,Nauru,5992,1999,0.01,Tuvalu,6023,1999,0.01,Niue
10,10,2000,24280.27,World,41,2000,3346.53,China,72,2000,...,0.09,Nauru,5993,2000,0.01,Tuvalu,6024,2000,0.01,Niue
11,11,2001,24644.44,World,42,2001,3529.08,China,73,2001,...,0.08,Nauru,5994,2001,0.01,Tuvalu,6025,2001,0.01,Niue
12,12,2002,24989.51,World,43,2002,3796.16,China,74,2002,...,0.08,Nauru,5995,2002,0.01,Tuvalu,6026,2002,0.01,Niue
13,13,2003,26133.42,World,44,2003,4424.41,China,75,2003,...,0.07,Nauru,5996,2003,0.01,Tuvalu,6027,2003,0.01,Niue
14,14,2004,27331.85,World,45,2004,5113.22,China,76,2004,...,0.06,Nauru,5997,2004,0.01,Tuvalu,6028,2004,0.01,Niue
15,15,2005,28371.82,World,46,2005,5824.63,China,77,2005,...,0.06,Nauru,5998,2005,0.01,Tuvalu,6029,2005,0.01,Niue
16,16,2006,29308.18,World,47,2006,6437.47,China,78,2006,...,0.04,Nauru,5999,2006,0.01,Tuvalu,6030,2006,0.01,Niue
17,17,2007,30418.99,World,48,2007,6993.18,China,79,2007,...,0.04,Nauru,6000,2007,0.01,Tuvalu,6031,2007,0.00,Niue
18,18,2008,30632.30,World,49,2008,7199.60,China,80,2008,...,0.04,Nauru,6001,2008,0.01,Tuvalu,6032,2008,0.01,Niue
19,19,2009,30238.05,World,50,2009,7719.07,China,81,2009,...,0.04,Nauru,6002,2009,0.01,Tuvalu,6033,2009,0.01,Niue
20,20,2010,32095.87,World,51,2010,8474.92,China,82,2010,...,0.04,Nauru,6003,2010,0.01,Tuvalu,6034,2010,0.00,Niue
21,21,2011,33079.72,World,52,2011,9282.55,China,83,2011,...,0.04,Nauru,6004,2011,0.01,Tuvalu,6035,2011,0.01,Niue
22,22,2012,33460.09,World,53,2012,9540.54,China,84,2012,...,0.04,Nauru,6005,2012,0.01,Tuvalu,6036,2012,0.01,Niue
23,23,2013,34119.89,World,54,2013,9979.13,China,85,2013,...,0.05,Nauru,6006,2013,0.01,Tuvalu,6037,2013,0.01,Niue
24,24,2014,34261.37,World,55,2014,10021.04,China,86,2014,...,0.05,Nauru,6007,2014,0.01,Tuvalu,6038,2014,0.01,Niue
25,25,2015,34070.18,World,56,2015,9859.28,China,87,2015,...,0.05,Nauru,6008,2015,0.01,Tuvalu,6039,2015,0.01,Niue
26,26,2016,34145.65,World,57,2016,9860.91,China,88,2016,...,0.05,Nauru,6009,2016,0.01,Tuvalu,6040,2016,0.01,Niue
27,27,2017,34687.84,World,58,2017,10089.27,China,89,2017,...,0.06,Nauru,6010,2017,0.01,Tuvalu,6041,2017,0.01,Niue
28,28,2018,35560.56,World,59,2018,10567.26,China,90,2018,...,0.05,Nauru,6011,2018,0.01,Tuvalu,6042,2018,0.01,Niue
29,29,2019,35477.25,World,60,2019,10762.82,China,91,2019,...,0.05,Nauru,6012,2019,0.01,Tuvalu,6043,2019,0.01,Niue
30,30,2020,33566.43,World,61,2020,10944.69,China,92,2020,...,0.04,Nauru,6013,2020,0.01,Tuvalu,6044,2020,0.00,Niue

In [63]:
''' removing all unnecessary columns like index, country and year from the above database
     so that we can only have values in the database '''

df_AllCountries = df_AllCountries.drop(['index', 'country','year'], axis=1)

#### Creating required new columns and Indexes
- one challenge is making everytime list using manual method is tideous so it is better by making automation based upon the descending order of CO2 emissions which is already made in the source json file we are leveraging that and making country name in that same order

In [64]:
new_columns = [*range(1990, 2021, 1)]
countries = df.Country.unique().tolist()  # numpy array converted into list using .tolist()

In [65]:
print(new_columns)
countries

[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

['World',
 'China',
 'United States',
 'European Union (27)',
 'India',
 'Russia',
 'Japan',
 'Iran',
 'Germany',
 'South Korea',
 'Indonesia',
 'Canada',
 'Saudi Arabia',
 'Brazil',
 'Türkiye',
 'South Africa',
 'Mexico',
 'Australia',
 'Vietnam',
 'United Kingdom',
 'Italy',
 'Poland',
 'France',
 'Thailand',
 'Malaysia',
 'Kazakhstan',
 'Egypt',
 'Spain',
 'United Arab Emirates',
 'Pakistan',
 'Ukraine',
 'Iraq',
 'Algeria',
 'Argentina',
 'Philippines',
 'Netherlands',
 'Uzbekistan',
 'Nigeria',
 'Kuwait',
 'Czech Republic',
 'Qatar',
 'Bangladesh',
 'Belgium',
 'Chile',
 'Colombia',
 'Venezuela',
 'Oman',
 'Romania',
 'Morocco',
 'Turkmenistan',
 'Austria',
 'Israel',
 'Belarus',
 'North Korea',
 'Greece',
 'Peru',
 'Serbia',
 'Hungary',
 'Libya',
 'Singapore',
 'Portugal',
 'Finland',
 'Norway',
 'Switzerland',
 'Ecuador',
 'Azerbaijan',
 'Bulgaria',
 'Myanmar',
 'Ireland',
 'Sweden',
 'Bahrain',
 'New Zealand',
 'Tunisia',
 'Slovakia',
 'Denmark',
 'Syria',
 'Cuba',
 'Dominican Republic',
 'Sri Lanka',
 'Lebanon',
 'Mongolia',
 'Jordan',
 'Bosnia and Herzegovina',
 'Sudan',
 'Angola',
 'Kenya',
 'Ghana',
 'Laos',
 'Cambodia',
 'Bolivia',
 'Ethiopia',
 'Guatemala',
 'Croatia',
 'Trinidad and Tobago',
 'Nepal',
 'Tanzania',
 'Slovenia',
 'Lithuania',
 "Côte d'Ivoire",
 'Senegal',
 'Georgia',
 'Yemen',
 'Cameroon',
 'Brunei',
 'Panama',
 'Tajikistan',
 'Kyrgyzstan',
 'Honduras',
 'Afghanistan',
 'Moldova',
 'Zimbabwe',
 'Benin',
 'Luxembourg',
 'Zambia',
 'Paraguay',
 'Republic of Congo',
 'Estonia',
 'Costa Rica',
 'Mozambique',
 'Latvia',
 'Macedonia',
 'Cyprus',
 'Armenia',
 'Uruguay',
 'El Salvador',
 'Jamaica',
 'Botswana',
 'Uganda',
 'Papua New Guinea',
 'Burkina Faso',
 'Gabon',
 'Nicaragua',
 'Guinea',
 'Albania',
 'Equatorial Guinea',
 'Mali',
 'Namibia',
 'Mauritania',
 'Mauritius',
 'Haiti',
 'Democratic Republic of the Congo',
 'Guyana',
 'Madagascar',
 'Suriname',
 'Montenegro',
 'Bahamas',
 'Togo',
 'Lesotho',
 'Niger',
 'South Sudan',
 'Malawi',
 'Malta',
 'Chad',
 'Iceland',
 'Maldives',
 'Rwanda',
 'Liberia',
 'Eswatini',
 'Barbados',
 'Sierra Leone',
 'Bhutan',
 'Fiji',
 'Burundi',
 'Eritrea',
 'Belize',
 'Somalia',
 'Cape Verde',
 'Gambia',
 'Seychelles',
 'Saint Lucia',
 'Antigua and Barbuda',
 'Andorra',
 'Timor-Leste',
 'Djibouti',
 'Comoros',
 'Guinea-Bissau',
 'Grenada',
 'Central African Republic',
 'Saint Kitts and Nevis',
 'Solomon Islands',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Dominica',
 'Palau',
 'Liechtenstein',
 'Sao Tome and Principe',
 'Tonga',
 'Vanuatu',
 'Micronesia',
 'Marshall Islands',
 'Cook Islands',
 'Kiribati',
 'Nauru',
 'Tuvalu',
 'Niue']

In [66]:
df_AllCountries.columns = countries
df_AllCountries.index = new_columns

In [68]:
df_AllCountries.reset_index(inplace=True)
df_AllCountries.rename(columns={'index':'year'}, inplace=True)

/var/folders/sp/gqk812nj51j9l5hwqrvrfnyr0000gr/T/ipykernel_72998/1062278162.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_AllCountries.reset_index(inplace=True)

#### Final Database view

In [69]:
df_AllCountries

,year,World,China,United States,European Union (27),India,Russia,Japan,Iran,Germany,...,Sao Tome and Principe,Tonga,Vanuatu,Micronesia,Marshall Islands,Cook Islands,Kiribati,Nauru,Tuvalu,Niue
0,1990,21284.04,2173.36,4844.52,3567.90,563.58,2163.53,1090.51,198.47,955.31,...,0.05,0.08,0.07,0.00,0.00,0.04,0.02,0.13,0.01,0.01
1,1991,21440.49,2302.19,4807.50,3530.56,607.22,2136.44,1103.96,219.10,932.55,...,0.05,0.09,0.07,0.00,0.00,0.04,0.02,0.13,0.01,0.01
2,1992,21390.04,2418.18,4879.63,3414.36,626.29,2030.81,1115.04,233.65,892.82,...,0.04,0.08,0.06,0.14,0.08,0.04,0.03,0.12,0.01,0.01
3,1993,21531.83,2645.41,4995.21,3350.88,651.35,1880.24,1107.59,236.73,887.06,...,0.04,0.09,0.06,0.15,0.09,0.05,0.03,0.11,0.01,0.01
4,1994,21676.89,2767.67,5066.80,3340.15,685.90,1685.05,1160.76,266.70,875.90,...,0.05,0.09,0.06,0.16,0.09,0.05,0.03,0.11,0.01,0.01
5,1995,22299.20,3088.62,5117.04,3391.25,737.86,1635.48,1170.99,271.52,874.66,...,0.05,0.10,0.07,0.18,0.09,0.05,0.03,0.11,0.01,0.01
6,1996,22778.98,3070.51,5273.49,3490.93,774.07,1601.18,1184.65,279.81,904.34,...,0.05,0.08,0.09,0.19,0.09,0.05,0.03,0.10,0.01,0.01
7,1997,23202.62,3134.11,5543.35,3421.98,819.27,1489.51,1172.60,292.40,872.65,...,0.05,0.09,0.09,0.20,0.09,0.05,0.03,0.10,0.01,0.01
8,1998,23365.55,3236.28,5590.54,3413.11,836.27,1487.97,1130.28,291.00,865.25,...,0.05,0.09,0.08,0.21,0.10,0.05,0.03,0.10,0.01,0.01
9,1999,23530.42,3153.66,5609.02,3355.11,901.33,1523.72,1168.95,323.36,833.59,...,0.05,0.11,0.09,0.20,0.10,0.05,0.03,0.09,0.01,0.01
10,2000,24280.27,3346.53,5775.81,3364.06,937.86,1563.85,1184.42,340.46,830.28,...,0.05,0.10,0.09,0.19,0.10,0.05,0.04,0.09,0.01,0.01
11,2001,24644.44,3529.08,5748.26,3421.06,953.54,1567.17,1172.34,354.07,847.68,...,0.05,0.09,0.09,0.17,0.11,0.06,0.03,0.08,0.01,0.01
12,2002,24989.51,3796.16,5593.02,3412.87,985.45,1565.33,1206.76,369.88,833.38,...,0.06,0.10,0.08,0.16,0.12,0.05,0.04,0.08,0.01,0.01
13,2003,26133.42,4424.41,5658.99,3502.70,1011.77,1610.00,1213.93,389.78,836.79,...,0.07,0.12,0.09,0.17,0.11,0.05,0.05,0.07,0.01,0.01
14,2004,27331.85,5113.22,5738.29,3507.06,1085.67,1600.98,1207.29,417.66,821.07,...,0.07,0.12,0.06,0.15,0.12,0.05,0.05,0.06,0.01,0.01
15,2005,28371.82,5824.63,5753.49,3489.98,1136.47,1611.98,1215.47,450.80,802.38,...,0.08,0.12,0.06,0.12,0.12,0.06,0.06,0.06,0.01,0.01
16,2006,29308.18,6437.47,5653.08,3498.54,1215.21,1654.85,1193.04,484.18,814.41,...,0.08,0.13,0.06,0.12,0.13,0.07,0.07,0.04,0.01,0.01
17,2007,30418.99,6993.18,5736.32,3456.87,1336.74,1658.15,1227.99,514.14,783.80,...,0.08,0.12,0.11,0.14,0.13,0.07,0.06,0.04,0.01,0.00
18,2008,30632.30,7199.60,5558.38,3378.39,1424.38,1655.19,1158.84,523.05,789.69,...,0.09,0.13,0.10,0.12,0.13,0.07,0.06,0.04,0.01,0.01
19,2009,30238.05,7719.07,5156.42,3131.20,1564.88,1546.67,1102.39,542.30,734.81,...,0.09,0.14,0.13,0.15,0.14,0.07,0.06,0.04,0.01,0.01
20,2010,32095.87,8474.92,5392.11,3215.80,1659.98,1617.83,1157.24,541.17,773.07,...,0.10,0.12,0.13,0.11,0.14,0.07,0.05,0.04,0.01,0.00
21,2011,33079.72,9282.55,5173.59,3121.39,1756.74,1699.08,1213.78,552.05,746.48,...,0.10,0.11,0.13,0.12,0.14,0.08,0.05,0.04,0.01,0.01
22,2012,33460.09,9540.54,4956.05,3061.11,1909.44,1675.76,1254.32,559.12,760.13,...,0.12,0.11,0.12,0.13,0.14,0.08,0.06,0.04,0.01,0.01
23,2013,34119.89,9979.13,5092.10,2984.33,1972.43,1632.68,1267.38,583.70,776.15,...,0.12,0.11,0.11,0.14,0.14,0.08,0.06,0.05,0.01,0.01
24,2014,34261.37,10021.04,5107.21,2839.98,2147.11,1611.96,1217.31,605.36,736.01,...,0.12,0.11,0.16,0.14,0.14,0.08,0.06,0.05,0.01,0.01
25,2015,34070.18,9859.28,4990.70,2897.32,2158.02,1592.56,1178.35,599.18,742.31,...,0.12,0.11,0.13,0.14,0.15,0.08,0.06,0.05,0.01,0.01
26,2016,34145.65,9860.91,4894.50,2907.40,2195.25,1571.52,1164.87,607.22,747.15,...,0.13,0.12,0.15,0.15,0.15,0.08,0.06,0.05,0.01,0.01
27,2017,34687.84,10089.27,4819.37,2932.15,2308.80,1594.55,1150.84,626.43,732.20,...,0.13,0.13,0.14,0.15,0.15,0.08,0.07,0.06,0.01,0.01
28,2018,35560.56,10567.26,4975.30,2867.93,2458.18,1661.00,1111.12,637.43,707.77,...,0.14,0.13,0.18,0.15,0.15,0.08,0.07,0.05,0.01,0.01
29,2019,35477.25,10762.82,4817.71,2729.77,2423.95,1703.59,1073.65,625.25,658.69,...,0.14,0.16,0.17,0.15,0.15,0.08,0.07,0.05,0.01,0.01
30,2020,33566.43,10944.69,4320.53,2465.03,2200.84,1618.27,1014.06,616.56,603.35,...,0.14,0.12,0.12,0.11,0.11,0.06,0.06,0.04,0.01,0.00

In [70]:
# export to csv file
df_AllCountries.to_csv('data/processed/CO2_Emissions.csv', index=False)